# Changed by tibia.sh in 2026. See "About this copy" in README.md.
include README.md
include LICENSE
include CHANGELOG.rst
include requirements.txt
recursive-include tibiawikisql
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
exclude tests/test_upstream_check.py
